* {
    margin: 0;
    padding: 0;
}

h1,
h3 {
    text-align: center;
}

body {
    width: 100%;
    margin: auto;
    padding: 2%;
}

.main {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    max-width: 50rem;
    margin: auto;
    padding: 2%;
    border: 3px solid rgb(19, 59, 112);
    border-radius: 20px;
    width: 50%;
    margin-top: 30px;
    min-width: 20rem;
}

.label {
    font-weight: bold;
    font-size: larger;
    padding-left: 10%;
    width: 40%;
    line-height: 30px;
}

.inp {
    width: 50%;
    line-height: 30px;
}

.inputstyle {
    border-width: 2px;
    border-color: rgb(255, 123, 0);
    border-radius: 5px;
    line-height: 25px;
}

.selectstyle {
    width: 70%;
    margin: auto;
    border-width: 2px;
    border-color: rgb(255, 123, 0);
    border-radius: 5px;
    margin-top: 12px;
}

.selectstyle {
    line-height: 25px;
}

table tr td {
    padding-bottom: 10px;
}

.btn {
    display: grid;
    width: 100px;
    line-height: 30px;
    margin: auto;
    margin-top: 25px;
    border-radius: 25px;
}

#ATT,
#WTT,
#HTT {
    display: none;
}

.score {
    width: 20%;
    background-color: rgb(211, 230, 230);
    border: 6px solid rgb(0, 139, 139);
    border-radius: 20px;
    max-width: 25rem;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 45px;
    color: #0066ff;
    padding-left: 1%;
}

.score span {
    color: #0066ff;
    font-size: small;
}

p {
    font-size: small;
    color: #888;
    font-weight: lighter;
}

.SS {
    font-size: x-large;
    font-weight: 1000;
    font-family: Comic Sans MS;
}

.CD {
    font-weight: normal;
    font-size: initial;
}

.right {
    padding-left: 10%;

}